# Dependencies
node_modules/
.pnpm-store/

# Production build output
dist/

# Local env files
.env*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
